<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->

        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-logo">
            <img src="../../assets/logo.png" alt="Logo" class="logo">
            <span class="sidebar-brand-text">Ransara Motors</span>
        </div>
        </a>


    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/dashboard']">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>


    <!-- Nav Item - Products -->
    <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/products']">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Products</span></a>
    </li>

    <!-- Nav Item - Purchases -->
    <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/purchases']">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Purchases</span></a>
    </li>
    <!-- Nav Item - Sales Entry -->
    <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/sales-entry']">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Sales Entry</span></a>
    </li>
    <!-- Nav Item - Sales -->
    <li class="nav-item active">
        <a class="nav-link"[routerLink]="['/sales']">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Sales</span></a>
    </li>
    <!-- Nav Item - Forecast -->
    <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/forecast']">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Suppliers</span></a>
    </li>


</ul>
<!-- End of Sidebar -->
