.container {
    margin: 20px;
  }
  
  table {
    width: 100%;
  }
  
  .nav {
    margin-top: 20px;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
  }
  
  .nav-item {
    margin-right: 10px;
  }
  